*{font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;outline: 0;-webkit-tap-highlight-color: transparent;-webkit-tap-highlight-color: transparent;margin: 0;padding: 0;}
.movie_img{width: 100%;height: 80.5vh;object-fit: cover;}
.action_area{text-align: center;padding-top: 36px;}
.action_area .btn{height: auto;padding:16px;width: 400px;margin-bottom:36px; }
.action_area .btn .van-button__text{font-size: 80px;line-height: 112px;font-weight: bold;}
.action_area .name{color: #333;font-size: 40px;line-height: 56px;font-weight: bold;padding-bottom: 16px;}
.action_area .phone{color: #666;font-size: 32px;line-height: 44px;}

.action_popup_header{background-color: #fff;height: 130px;border-bottom: 1px solid #C4C4C4;display: flex;}
.action_popup_header .close_btn{width: 300px;height: 130px;border-right:1px solid #C4C4C4; font-size: 40px;line-height: 130px;justify-content: center;
align-items: center;display: flex;cursor: pointer;}
.action_popup_header .name2{flex: 1;text-align: right;font-size: 44px;padding-right: 50px;font-weight: 600;color: #F65656;line-height: 130px;}

.title{font-size: 32px;padding-top: 50px;}
.sub_title{font-size: 32px;color: #F65656;font-weight: 600;}
.scan_img{width: 73%;}
.van-number-keyboard{position: initial;}

.van-cell{border:1px solid #e0e0e0;border-radius: 8px;font-size: 32px;line-height: 68px;margin-bottom: 28px;margin-top: 14px;}
.van-key{font-size: 32px;height:86px; border: 1px solid #e6e6e6;box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.05);}
.van-key__wrapper{padding:0 16px 16px 0;}
.van-key.van-key--large{height: auto;}
.van-key--large{right: 16px;bottom: 16px;}
.van-number-keyboard{padding-bottom: 0;background-color: transparent;}
<<<<<<< Updated upstream
.van-number-keyboard__body{padding:0;}
=======
.van-number-keyboard__body{padding:0;}

.succeed_info{text-align: center;padding-top: 60px;}
.succeed_info p{font-size: 40px;font-weight: 600;padding-top: 40px;color: #333;}
.succeed_info p.desc{font-size: 32px;margin-top:12px;font-weight: 400;padding-top: 0; }
.succeed_info .pic{width: 60%;padding-top: 60px;}

.van-toast{width: 288px;min-height: 288px;font-size: 40px;line-height: 44px;border-radius: 16px;}
.van-loading__spinner{width: 80px;height: 80px;}
.van-toast__text{margin-top: 26px;}
>>>>>>> Stashed changes
