<!DOCTYPE html>
<html>
<head>
	<title>嘉定公会取票机</title>
	<meta charset="utf-8">
	<!-- <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0"> -->
	<!-- 引入样式文件 -->
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/vant@2.12/lib/index.css"/>
	<link rel="stylesheet" type="text/css" href="css/style.css">

	<!-- 引入 Vue 和 Vant 的 JS 文件 -->
	<script src="https://cdn.jsdelivr.net/npm/vue@2.6/dist/vue.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/vant@2.12/lib/vant.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/@vant/touch-emulator"></script>

	<style>
</style>
</head>
<body>
	<div  class="content_box" id="app">

		<!-- 首页轮播图模块 轮播图推荐尺寸1080*1545,-->
		<van-swipe :autoplay="4000">
		  <van-swipe-item v-for="(image, index) in images" :key="index">
		    <img class="movie_img" :src="image" />
		  </van-swipe-item>
		</van-swipe>
		<!-- 首页轮播图模块 -->

		<div class="action_area">
			<van-button round type="info" color="#F65656" class="btn" @click="showPopup">取票</van-button>
			<p class="name">上海嘉定区工人文化宫</p>
			<p class="phone">服务热线：1010-1010</p>
		</div>

		<van-popup v-model="show"  position="bottom" :style="{ height: '55%' }"/>
		  <div class="action_popup_header">
		  	<div class="close_btn" @click="hidePopup"><img src="img/back.svg">返回首页</div>
		  	<p class="name2">嘉定工人文化宫</p>
		  </div>


		  <!-- 扫描二维码+手动输入操作内容 -->
		  <van-row type="flex" justify="center" v-show="action"> 
		  	<van-col span="8">
		  		<p class="title">方式一：</p>
		  		<p class="sub_title">扫描二维码取票</p>
		  		<img class="scan_img" src="img/展示扫描区@2x.png">
		  	</van-col>
		  	<van-col span="14" id="#app2">
		  		<p class="title">方式二：</p>
		  		<p class="sub_title">手动输入取票</p>

				<div >
			  		<p class="title">兑换码</p>
					<van-field readonly clickable :value="value"  />
				</div>

				<van-number-keyboard
				  v-model="value"
				  :show="show2"
				  theme="custom"
				  extra-key="."
				  close-button-text="完成"
				  @close="onConfirm"
				/>
		  	</van-col>
		  </van-row>
		  <!-- 扫描二维码+手动输入操作内容 -->


		  <!-- 影票打印成功提示内容 -->
		  <div class="succeed_info" v-show="succeed_info">
		  	<img src="img/done.svg">
		  	<p>电影票打印成功</p>
		  	<p class="desc">请在出口取票</p>
		  	<img class="pic" src="img/展示出票区@2x.png">	
		  </div>
		  <!-- 影票打印成功提示内容 -->


		</van-popup>


	</div>


</body>


<script type="text/javascript">

	new Vue({
		el:'#app',
	    data() {
		    return {
		      images: [
		        'img/lihuanying@2x.jpg',
		        'img/tangrenjie@2x.jpg',
		        'img/renchaoxiongyong@2x.jpg',
		      ],
		      show:false,
		      show2:true,
		      value:'',
		      action:true,
		      succeed_info:false,
		    };
		  },

		methods: {


			// 手动输入提交出票
			onConfirm() {
				const toast = vant.Toast.loading({
				  duration: 0, // 持续展示 toast
				  forbidClick: true,
				  message: '正在出票，请稍等',
				});

				let second = 3;
				const timer = setInterval(() => {
				  second--;
				  if (second) {
				    toast.message = `正在出票 ${second} /3`;
				  } else {
				    clearInterval(timer);
				    // 手动清除 Toast
				    vant.Toast.clear();
					this.action = false;
					this.succeed_info = true;

				  }
				}, 1000);
			},


			// 向上推出操作抽屉
			showPopup() {
			  this.show = true;
			},

			// 关闭抽屉返回首页
			hidePopup() {
			  this.show = false;
			  this.action = true;
			  this.succeed_info = false;
			  this.value = "";
			},


		},

		});




</script>
</html>